name: gml-core

services:

  gml-web-api:
    image: gml-web-api-image
    container_name: gml-web-api
    restart: always
    build:
      context: src/Gml.Web.Api
      dockerfile: Dockerfile
    volumes:
      - shared-volume:/root
    ports:
      - "${PORT_GML_BACKEND}:8082"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8082;
    user: "${UID}:${GID}"
    networks:
      - gml-network

  gml-kubek:
    image: ghcr.io/gamervii-net/kubek-minecraft-dashboard:main
    container_name: gml-kubek
    restart: always
    build:
      context: src/Gml.Web.Client
      dockerfile: Dockerfile
    ports:
      - ${PORT_GML_KUBEK}:3000
    networks:
      - gml-network
    volumes:
      - shared-volume:/root

  gml-web-frontend:
    image: gml-web-frontend-image
    container_name: gml-frontend
    restart: always
    build:
      context: src/Gml.Web.Client
      dockerfile: Dockerfile
    ports:
      - ${PORT_GML_FRONTEND}:8081
    networks:
      - gml-network

  minio:
    image: quay.io/minio/minio:RELEASE.2024-05-01T01-11-10Z-cpuv1
    container_name: gml-minio
    volumes:
      - shared-volume:/data
    ports:
      - ${MINIO_ADDRESS_PORT}:${MINIO_ADDRESS_PORT}
      - ${MINIO_CONSOLE_ADDRESS_PORT}:${MINIO_CONSOLE_ADDRESS_PORT}
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_ADDRESS: ${MINIO_ADDRESS}
      MINIO_CONSOLE_ADDRESS: ${MINIO_CONSOLE_ADDRESS}
    command: minio server /data

  filebrowser:
    image: filebrowser/filebrowser:v2.27.0
    container_name: gml-filebrowser
    restart: always
    environment:
      - FB_BASEURL=/filebrowser
    user: "${UID}:${GID}"
    volumes:
      - shared-volume:/srv
    ports:
      - ${PORT_GML_FILES}:80
    networks:
      - gml-network

  gml-web-skins:
    image: gml-web-skins-image
    container_name: gml-web-skins
    restart: always
    build:
      context: src/Gml.Web.Skin.Service
      dockerfile: Dockerfile
    ports:
      - "${PORT_GML_SKINS}:8085"
    networks:
      - gml-network
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8085;
    user: "${UID}:${GID}"
    volumes:
      - shared-volume:/root

networks:
  gml-network:
    attachable: true

volumes:
  shared-volume:
    name: gml-volume
