<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalCommon"
         value="../Gml.Core/src/Gml.Common/Gml.Common/bin/Debug"/>
    <add key="LocalCore"
         value="../Gml.Core/src/Gml.Core/bin/Debug"/>
    <add key="LocalDomains"
         value="../Gml.Core/src/Gml.Domains/bin/Debug"/>
    <add key="LocalDto"
         value="../Gml.Core/src/Gml.Dto/bin/Debug"/>
    <add key="LocalInterfaces"
         value="../Gml.Core/src/Gml.Interfaces/bin/Debug"/>
    <add key="LocalSdk"
         value="..\Gml.Web.Api\src\plugins\Gml.Web.Api.EndpointSDK\bin\Debug"/>
  </packageSources>
</configuration>
