<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local"
         value="src\Gml.Web.Api\src\Gml.Core\src\Gml.Core.Interfaces\bin\Debug"/>
    <add key="LocalDomains"
         value="src\Gml.Web.Api\src\Gml.Web.Api.Domains\bin\Debug"/>
    <add key="LocalDto"
         value="src\Gml.Web.Api\src\Gml.Web.Api.Dto\bin\Debug"/>
  </packageSources>
</configuration>
