<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local"
         value="src\Gml.Web.Api\src\Gml.Core\src\Gml.Interfaces\bin\Debug"/>
    <add key="LocalDomains"
         value="src\Gml.Web.Api\src\Gml.Domains\bin\Debug"/>
    <add key="LocalDto"
         value="src\Gml.Web.Api\src\Gml.Dto\bin\Debug"/>
    <add key="LocalWebSDK"
         value="src\Gml.Web.Api\src\plugins\Gml.Web.Api.EndpointSDK\bin\Debug"/>
  </packageSources>
</configuration>
