@page "/ConfirmFilePathDialog"

@foreach (var file in Files)
{

    <RadzenImage Path="@file.Name" Style="width: 15rem;" AlternateText="community" />
    <h3>@file.Name</h3>
}

<RadzenButton Text="Upload" Click="Callback"/>

@code {

    [Parameter] public IEnumerable<FileInfo> Files { get; set; }
    [Parameter] public RadzenUpload Upload { get; set; }
    [Parameter] public HttpClient HttpClient { get; set; }

    private async Task Callback(MouseEventArgs obj)
    {

    }

}
