@page "/profile-list"
@using Gml.Client
@using Gml.WebApi.Models.Dtos.Profiles

<PageTitle>Profiles</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <RadzenDataGrid AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowPaging="false"
                            AllowSorting="true"
                            AllowRowSelectOnRowClick="true"
                            Data="@Profiles"
                            @bind-Value="@SelectedProfiles"
                            TItem="ReadProfileDto"
                            ColumnWidth="200px"
                            SelectionMode="DataGridSelectionMode.Single">
                <Columns>
                    <RadzenDataGridColumn TItem="ReadProfileDto" Property="Name" Title="Name" Sortable="false" Filterable="false">
                        <Template Context="data">
                            @data.Name
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ReadProfileDto" Property="GameVersion" Title="Game version" Width="160px"/>
                    <RadzenDataGridColumn TItem="ReadProfileDto" Property="LaunchVersion" Title="Launch version" Width="200px"/>
                </Columns>
            </RadzenDataGrid>
        </div>

        <div class="col-6">
            @if (SelectedProfiles?.Any() == true)
            {
                <div style="margin-left: 16px">
                    <RadzenText Text=@SelectedProfiles[0].Name></RadzenText>
                </div>
            }
        </div>
    </div>
</div>

@code
{

    List<ReadProfileDto> Profiles { get; set; } = new List<ReadProfileDto>();

    GmlClientManager GmlClientManager = new GmlClientManager("http://localhost:5000", string.Empty);

    IList<ReadProfileDto>? SelectedProfiles { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Profiles = (await GmlClientManager.GetProfiles()).ToList();

        Profiles.Add(new ReadProfileDto
        {
            Name = "Test",
            GameVersion = "1.7.10",
            LaunchVersion = "1.7.10"
        });

        Profiles.Add(new ReadProfileDto
        {
            Name = "Test2",
            GameVersion = "1.7.10",
            LaunchVersion = "1.7.10"
        });

        Profiles.Add(new ReadProfileDto
        {
            Name = "Test3",
            GameVersion = "1.7.10",
            LaunchVersion = "1.7.10"
        });
    }

}
