@page "/Integration"
@using System.Net.Mime

@rendermode InteractiveServer

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4" bis_skin_checked="1">
    <div class="d-block mb-4 mb-md-0" bis_skin_checked="1">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="/">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Integration</li>
            </ol>
        </nav>
        <h2 class="h4 mb-0">Integration</h2>
    </div>
</div>

@if (integrationDtos.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card border-0 shadow" bis_skin_checked="1">
                    <div class="card-header border-bottom d-flex align-items-center justify-content-between" bis_skin_checked="1">
                        <h2 class="fs-5 fw-bold mb-0">Integrations</h2>
                    </div>
                    <div class="card-body" bis_skin_checked="1">
                        <ul class="list-group list-group-flush list my--3">
                            @foreach (var integrationDto in integrationDtos)
                            {
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center" bis_skin_checked="1">
                                        <div class="col-auto ms--2" bis_skin_checked="1">
                                            <h4 class="h6 mb-0">@integrationDto.Name</h4>
                                            @if (ActiveIntegration != null && ActiveIntegration.AuthType == integrationDto.AuthType)
                                            {
                                                <div class="d-flex align-items-center" bis_skin_checked="1">
                                                    <div class="bg-success dot rounded-circle me-1" bis_skin_checked="1"></div><small>Active</small>
                                                </div>
                                            }
                                        </div>
                                        <div class="col text-end" bis_skin_checked="1">
                                            @if (ActiveIntegration == null || ActiveIntegration.AuthType != integrationDto.AuthType)
                                            {
                                                <button @onclick="() => UpdateActiveService(integrationDto)" class="btn btn-sm btn-secondary d-inline-flex align-items-center">Select</button>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @if (ActiveIntegration != null)
            {
                <div class="col-4">
                    <div class="card border-0 shadow" bis_skin_checked="1">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between" bis_skin_checked="1">
                            <h2 class="fs-5 fw-bold mb-0">Selected integration</h2>
                            <span>@ActiveIntegration.Name</span>
                        </div>
                        @if (ActiveIntegration.AuthType != 0)
                        {
                            <div class="card-body" bis_skin_checked="1">
                                <ul class="list-group list-group-flush list my--3">
                                    <li class="list-group-item px-0">
                                        <div class="row align-items-center" bis_skin_checked="1">
                                            <div class="col-auto ms--2" bis_skin_checked="1">
                                                <div class="form-floating mb-3">
                                                    <InputText @bind-Value="UpdateIntegrationDto.Endpoint" id="endpoint" class="form-control form-control-sm" autocomplete="email" placeholder="Please enter auth endpoint."/>
                                                    <label for="endpoint" class="form-label">Endpoint</label>
                                                    <button @onclick="SaveActiveIntegrationChanges" type="submit" class="w-100 btn btn-sm btn-primary mt-3">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>
    </div>
}
else
{
    <div class="card card-body shadow border-0 table-wrapper table-responsive" bis_skin_checked="1">
        <p class="mb-0">Integrations not found</p>
    </div>
}


@code {

}
